#pop3 {
  width: 30vw;
  /* height: 100%; */
  /* box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3); */
  background-color: #ffff;
  border-radius: 10px;
  padding: 1em 0em;
  margin: 3em auto;
  font-weight: 300;
}
.Heading_pop3 {
  display: flex;
  float: right;
  align-items: center;
  color: #4b4b4b;
  margin: -1em 1em 0em 0em;
}
#arrow {
  color: #3a52a1;
}
#arrow:hover {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}
.Heading_pop3 > p {
  width: 100%;
  font-style: italic;
  color: #7fa5f6;
  font-weight: 500;
}

.Button {
  background-color: #2955e4;
  color: white;
  border: none;
  padding: 0.8em 1.6em;
  margin: 1em 0em 2em 0em;
  border-radius: 5px;
  box-shadow: 0px 2px 18px #888888;
}
#section2 {
  background-color: #f9fafb;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-top-left-radius: 10px;
}
#section2 > span {
  margin: auto;
  text-align: right;
  color: #c8c9c9;
}
#section2 > h4 {
  font-weight: 300;
  margin: auto;
  color: #404040;
  margin-top: 1.2em;
}
#section2 > span > p {
  font-size: 0.7em;
  margin-top: -1em;
}
#section2 > span > h4 {
  color: #3360e5;
  font-weight: 400;
}
#section3 {
  width: 84.5%;
  margin: auto;
  padding-left: 1em;
  text-align: left;
  border: 2px solid #f9fafb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 3em;
}
#section3 > h5 {
  color: #6a6f75;
  font-weight: 300;
}
#delivery_date,
#Attachment {
  display: inline-block;
  padding-left: 0.3em;
}

#del {
  display: inline-block;
  font-size: 0.7em;
  padding-left: 0.2em;
}
#Attachment > p {
  display: inline-block;
  font-size: 0.8em;
  padding-left: 0.5em;
}

#div_Button {
  float: right;
  padding: 1.5em 1em;
}
