#popup {
  width: 30vw;
  height: 70vh;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);

  background-color: #ffff;
  border-radius: 30px;
  padding-top: 50px;
  text-align: -webkit-center;
  display: none;
  margin: 3em auto;
}

#popup > button {
  background-color: white;
  border: none;
  width: 20%;
  color: black;
  position: relative;
}
